.panel#family-members
  %h4
    Family Contact Information
  During an emergency your family will be able to exchange messages based on the
  information you provide.
  .people#people
    .name.label
      Name
    .phone.label
      Phone
    .sms.label
      Text
    .email.label
      eMail
    .clear
    - for person in family.people do
      = render :partial => 'people/person', :locals => { :person => person }
  .people-form
    .people
      = render :partial => 'people/form'
