<div class="mobile_header">
  <div class="header_logo">
    <%= image_tag 'breakglass_icon.gif', :size => "48x48" %>
  </div>
  <div class="header_text">
    <%= @family.name.capitalize %> Family Plan
  </div>
  <div class="clear"/>
</div>

<% @family.meeting_places.each do |family_meeting_place| %>
  <div class="meeting_place">
    <div class="meeting_place_name">
      <%= family_meeting_place.name %>
    </div>
    <div class="meeting_place_text">
      <%= family_meeting_place.text %>
    </div>
  </div>
<% end %> 
