body {
	line-height: 1.3em;
}

.box {
	width: 380px;
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.form {
}

fieldset {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#external-contact-name {
	float: left;
}
#external-contact-phone {
	float: right;
}


#family-members .person {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#family-members .person .name {
  font-weight: bold;
}

.meeting-place {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.meeting-place textarea {
  height: 100px;
  width: 100%;
}