body {
  line-height: 1.3em;
  background-color: #99CCCC;
  min-width: 1024px;
  padding: 5px;
  font-size: 131.5%;
}

.content {
  width: 1024px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  margin: auto;
  padding: 10px;
}
  
.panel {
  margin: 0em;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.left_col {
  margin-left: 0px;
  width: 485px;
  float: left;
}

.right_col {
  width: 485px;
  float: right;
}

.header {
  margin: 0em;
  padding: 10px;
}

#header_image {
  width: 32px;
  float: left;
}

#header_title {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 120%;
  font-weight: bold; 
}

#header_welcome {
  float: right;
  margin-top: 0px;
  text-align: right;
  font-size: 80%;
  line-height: .9em;
}


.box {
  width: 380px;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.form {
}

fieldset {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#external-contact-name {
  background-color: #FF9999;
  float: left;
}
#external-contact-phone {
  float: right;
}

.clear {clear:both;}
#family-members .person {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  background-color: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#family-members .person .name {
  font-weight: bold;
}

.meeting-place, .emg-contact {
  border: 1px solid black;
  margin: 10px 0;
  padding: 5px;
  background-color: #CCFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.meeting-place .name {
  font-weight:bold;
}

.meeting-place .static {
  padding: 5px 0;
}

.meeting-place .phone {
  font-weight: bold;
  font-size: 90%;
}

.meeting-place .text-in {
  margin: 5px 0px;
}

.meeting-place textarea {
  height: 100px;
  width: 100%;
}

.emg-contact .name {
  font-weight: bold;
  float: left;
}

.emg-contact .phone {
  float: right;
  font-size: 90%;
  line-height: .9em;
  margin: 4px 0;
}

.edit-link {
  float: right;
  font-size: 60%;
  line-height: .6em;
}

.meeting-place-name {
  font-weight: bold;
}

#external-content-name {
}

th, td {
  padding: 3px;
  border: none;
}

.people {
  background-color: #CCFFFF;
}

.people .label {
  text-align: center;
  font-weight: bold;
}

.people .name {
  width: 325px;
  float: left;
  margin: 2px;
  font-weight: bold;
}

.people .phone {
  width: 175px;
  float: left;
  margin: 2px;
  text-align: center;
}

.people .sms {
  width: 175px;
  float: left;
  margin: 2px;
  text-align: center;
}

.people .email {
  width: 300px;
  float: right;
  margin: 2px;
}

.button {
  float: right;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 10px;
}

